<h1>New Task</h1>

<form class="new_task" id="new_task" action="/tasks" accept-charset="UTF-8" method="post" data-remote="true">
  <input type="hidden" name="authenticity_token" value="fUrBymmVzFG49YTQE9xKfohttEtW7eHnui2WT6KWpRXT6g9dz73lhZ7bRdHH+RuV/TFoB23OG5l1eo731o8l6g==">
  <label for="task_task">Title</label>
  <input type="Title" name="task[name]" id="task_name">
  <label for="Details">Details</label>
  <input type="text" name="task[title]" id="task_Details">
  <input type="submit" name="commit" value="Create task" data-disable-with="Create task">
</form>

  <%= link_to "Back to the list", tasks_path %>
</button>
